@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

​ article,
aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

​ body {
  line-height: 1;
}

​ ol,
ul {
  list-style: none;
}

​ blockquote,
q {
  quotes: none;
}

​ blockquote:before,
blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

​ table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

input:focus {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #cacdd3 inset; /* можно изменить на любой вариант цвета */
}

.invalid-span {
  font-size: 12px;
}

.home {
  display: flex;
}

.unavailable {
  background-color: rgb(21, 97, 109);
  height: 100vh;
  color: white;
  font-size: 50px;
  text-align: center;
}
.unavailable__button {
  margin-top: 50px;
  border: 4px solid rgb(19, 80, 52);
  border-radius: 10px;
  padding: 4px 10px;
  color: black;
}

.task-animation {
  opacity: 0;
  transform: translateY(20px); /* Сдвиг вниз на 20px, вы можете настроить его по своему усмотрению */
  transition: opacity 0.5s ease, transform 0.5s ease;
  width: 173px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.leftnavbar {
  display: flex;
  width: 456px;
}

.real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.real-checkbox:focus + .custom-checkbox {
  box-shadow: 0px 0px 0px 1px #38577a, 0px 0px 10px #7e9bbd;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: rgb(21, 97, 109);
  border: 1px solid rgb(21, 97, 109);
  border-radius: 4px;
  vertical-align: sub;
  margin-right: 5px;
}

.custom-checkbox::before {
  content: "";
  /* Рисуем галочку */
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url("/src/assets/images/home/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  /* Выравниваем по центру */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}

/*
Активируем фейковый / декоративный чекбокс
*/
.real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

.closed .vertical,
.closed .horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
}
.closed .horizontal {
  opacity: 1;
}

.opened {
  opacity: 1;
}
.opened .vertical,
.opened .horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg);
}
.opened .horizontal {
  opacity: 0;
}

.circle-plus {
  height: 26px;
  width: 26px;
  font-size: 1em;
  opacity: 0.7;
}
.circle-plus .circle {
  position: relative;
  width: 100%;
  padding-top: 100%;
}
.circle-plus .circle .horizontal {
  position: absolute;
  background-color: black;
  width: 50%;
  height: 1px;
  left: 50%;
  margin-left: -25%;
  top: 50%;
}
.circle-plus .circle .vertical {
  position: absolute;
  background-color: black;
  width: 1px;
  height: 50%;
  left: 50%;
  top: 50%;
  margin-top: -25%;
}

.section {
  width: 304px;
  height: 571px;
  display: flex;
  flex-direction: column;
  margin: 4% auto;
  position: absolute;
  top: -50px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.section__logo {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 30px;
}
.section__text {
  padding-left: 11px;
}
.section__auth {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}
.section__title {
  font-family: Raleway;
  font-size: 32px;
  font-weight: 700;
  color: rgb(21, 97, 109);
  margin-left: 3px;
  padding: 0 10px;
  border-top: 2px solid rgb(0, 21, 36);
  border-right: 2px solid rgb(0, 21, 36);
  border-left: 2px solid rgb(0, 21, 36);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.section__subtitle {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 400;
  color: rgba(0, 21, 36, 0.5);
}
.section__input {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 3px;
  outline: none;
  border: 0px solid white;
  border-bottom: 1px solid rgba(0, 21, 36, 0.5);
}
.section__input:hover {
  border-bottom: 1px solid #001524;
}
.section__input:focus {
  color: #001524;
  border-bottom: 1px solid #001524;
}
.section__alert {
  color: #FF7D00;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
}
.section__alert-forget {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.section__forget {
  color: rgba(21, 97, 109, 0.75);
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  text-decoration-line: underline;
  margin-top: 5px;
}
.section__button {
  width: 100%;
  padding: 16px 53px;
  border-radius: 10px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  line-height: 12px;
  color: rgb(255, 236, 209);
  background: rgb(135, 151, 154);
  margin-top: 40px;
  margin-bottom: 11px;
  cursor: pointer;
}
.section__text-or {
  overflow: hidden;
  color: rgba(0, 21, 36, 0.5);
}
.section__text-or:before, .section__text-or:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  background: black;
  position: relative;
}
.section__text-or:before {
  margin-left: -100%;
  left: -5px;
}
.section__text-or:after {
  margin-right: -100%;
  right: -5px;
}
.section__item div {
  text-align: center;
  color: rgba(0, 21, 36, 0.5);
}
.section__bt-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.logo__text {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 200;
  line-height: 23px;
  color: rgb(0, 21, 36);
}

.form-task {
  max-width: 251px;
  max-height: 600px;
  color: #001524;
  background-color: white;
  border-radius: 10px;
  padding: 40px 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Raleway;
  font-weight: 500;
}

.form-title {
  font-size: 20px;
  margin-bottom: 35px;
}

.form-input {
  width: 100%;
  height: 19px;
  outline: none;
  border: 0px solid white;
  border-bottom: 1px solid #001524;
  font-family: Raleway;
  font-size: 16px;
}

.form-input_time {
  display: grid;
  grid-template-columns: 120px 120px;
  grid-template-rows: 44px;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.form-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.form-button-container {
  display: grid;
  grid-template-columns: 120px 120px;
  grid-template-rows: 44px 44px;
  gap: 11px 11px;
}

input[type=radio] {
  display: none;
}

.form-button {
  display: inline-block;
  text-align: center;
  padding-top: 11px;
  border: 1px solid #001524;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type=radio]:checked + .form-button {
  background-color: rgb(220, 232, 233);
}

.form-submit {
  width: 100%;
  padding: 16px 53px;
  color: #FFECD1;
  background-color: #87979A;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.form-submit_filled {
  background-color: #15616D;
}

.form-submit_exit {
  width: 100%;
  padding: 16px 53px;
  border-radius: 10px;
  border: 1px solid #001524;
}

::-webkit-scrollbar {
  display: none;
}/*# sourceMappingURL=main.css.map */