@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

​ article,
aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

​ body {
  line-height: 1;
}

​ ol,
ul {
  list-style: none;
}

​ blockquote,
q {
  quotes: none;
}

​ blockquote:before,
blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

​ table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.section {
  width: 304px;
  height: 571px;
  display: flex;
  flex-direction: column;
  margin: 4% auto;
}
.section__logo {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 30px;
}
.section__text {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 200;
  line-height: 23px;
  padding-left: 11px;
  color: rgb(0, 21, 36);
}
.section__auth {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}
.section__title {
  font-family: Raleway;
  font-size: 32px;
  font-weight: 700;
  color: rgb(21, 97, 109);
  margin-left: 3px;
  padding: 0 10px;
  border-top: 2px solid rgb(0, 21, 36);
  border-right: 2px solid rgb(0, 21, 36);
  border-left: 2px solid rgb(0, 21, 36);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.section__subtitle {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 400;
  color: rgba(0, 21, 36, 0.5);
}
.section__input {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 3px;
  outline: none;
  border: 0px solid white;
  border-bottom: 1px solid rgba(0, 21, 36, 0.5);
}
.section__input:hover {
  border-bottom: 1px solid #001524;
}
.section__input:focus {
  color: #001524;
  border-bottom: 1px solid #001524;
}
.section__alert {
  color: #FF7D00;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
}
.section__alert-forget {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.section__forget {
  color: rgba(21, 97, 109, 0.75);
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  text-decoration-line: underline;
  margin-top: 5px;
}
.section__button {
  width: 100%;
  padding: 16px 53px;
  border-radius: 10px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  line-height: 12px;
  color: rgb(255, 236, 209);
  background: rgb(135, 151, 154);
  margin-top: 40px;
  margin-bottom: 11px;
  cursor: pointer;
}
.section__text-or {
  overflow: hidden;
}
.section__text-or:before, .section__text-or:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  background: rgba(0, 21, 36, 0.5);
  position: relative;
}
.section__text-or:before {
  margin-left: -100%;
  left: -5px;
}
.section__text-or:after {
  margin-right: -100%;
  right: -5px;
}
.section__item div {
  text-align: center;
  color: rgba(0, 21, 36, 0.5);
}
.section__bt-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.select__arrow {
  display: flex;
  justify-content: space-between;
  max-width: 374px;
  height: 106px;
  align-items: start;
  margin-top: 24px;
  margin-left: 79px;
}

.select__header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.select__current {
  font-family: Raleway;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
}
.select__btn {
  margin-top: 8px;
  margin-left: 5px;
  transition: 1s;
}
.select__btn-isActive {
  transition: 1s;
  margin-left: 5px;
  margin-top: 8px;
  transform: rotate(90deg);
}
.select__body {
  display: none;
  background-color: azure;
}
.select__body-show {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  opacity: 0;
  animation: show 2.5s forwards;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.select__item {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 500;
  line-height: 42px;
  cursor: pointer;
  display: inline-block;
}
.select__item:after {
  display: block; /*превращаем его в блочный элемент*/
  content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
  height: 3px; /*задаём высоту линии*/
  width: 0%; /*задаём начальную ширину элемента (линии)*/
  background-color: #225384; /*цвет фона элемента*/
  transition: width 0.4s ease-in-out; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
}
.select__item:hover:after, .select__item:focus:after {
  width: 100%;
}
.select__item:hover {
  color: #225384;
}

.arrows {
  margin-top: 13px;
  max-width: 78px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.arrows__item {
  padding-left: 30px;
}
.arrows__item-hidden {
  padding-left: 30px;
  visibility: hidden;
}

.calendar {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-left: 138px;
  margin-right: 63px;
}

.week {
  display: flex;
  justify-content: space-between;
  width: 1155px;
  height: 134px;
  margin-bottom: 41px;
}

.taskboard {
  width: 1260px;
  background-color: rgba(0, 21, 36, 0.5);
  max-height: 784px;
  margin-left: 10px;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(20, 90px);
  overflow-y: auto;
  justify-items: center;
  align-items: center;
}

.task {
  width: 173px;
  height: 80px;
  background-color: #C4D7DA;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.task__name {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: #0C3C44;
  padding: 4px 6px;
}
.task__time {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #296B76;
  padding: 0px 6px;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins;
  color: #9E9E9E;
  max-height: 134px;
}
.day__number {
  font-size: 53px;
  font-weight: 700;
  cursor: pointer;
}
.day.day:hover {
  color: #0E0E0E;
}
.day__text {
  font-size: 15px;
  font-weight: 400;
}
.day__line {
  transform: rotate(90deg);
  font-weight: 900;
}

.present-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins;
  color: #0E0E0E;
}/*# sourceMappingURL=main.css.map */